@media screen and (min-width: 500px) {
    nav ul li {
        display: flex;
    }

    .course-work,
    .location,
    .certificate {
        width: 45%;
        display: inline-block;
        vertical-align: top;
    }

    .certificate {
        width: 90%;
    }

    .courses button {
        display: inline-block;
        width: 30%;
    }
}